* {
  font-family: Lato, sans-serif;
}

#greetingpara {
  color: #ec5242;
  font-size: 25px;
}

h1 {
  font-size: 45px;
  color: red;
  text-align: center;
}

body {
  background-color: #f5f5dc;
  margin: 0;
}

p {
  font-size: 1.2rem;
  color: #1c1c1c;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}

#logo2 {
  width: auto;
  display: block;
  height: 100px;
  margin: auto;
}

footer p {
  color: #272a31;
}

.impact-img + p {
  font-style: italic;
  margin-top: 0;
}

#logo2 + p {
  color: red;
  font-weight: bold;
}

:is(h2, h3, h4) {
  text-align: center;
  font-size: 1.5em;
}

.line {
  width: 45px;
  border: 2px solid #ec5242;
  border-radius: 100px;
  margin: auto;
}

:is(#who-we-are, #rights-ownership, #impact-glance) {
  padding-top: 50px;
}

.impact-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.impact-imgcontainer {
  position: relative;
}

figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #ec5242;
  transition: opacity 0.5s ease-in-out;
}

main {
  padding: 50px 15px 0;
}

#main-footer img:last-of-type {
  display: none;
}

@media (min-width: 768px) {
  main {
    padding: 100px 150px 0;
  }

  :is(h2, h3, h4) {
    font-size: 2em;
  }

  .impact-img {
    width: 300px;
    height: 300px;
  }

  #impact-glance {
    display: flex;
    flex-direction: column;
  }

  #impact-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main-footer img:first-of-type,
  #partners-container {
    display: none;
  }

  #main-footer img:last-of-type {
    display: block;
  }

  #main-footer {
    background-color: #272a31;
  }

  footer {
    padding: 0;
  }

  footer p {
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  main {
    padding: 100px 80px 0;
  }
}
