footer {
  margin-top: 50px;
  box-sizing: border-box;
  text-align: center;
}

#partners-container {
  background-color: #272a31;
  padding: 20px 0;
}

h5 {
  font-size: 1.3em;
  margin: 0;
  color: #fff;
  padding-bottom: 10px;
}

h5 + .line {
  margin-bottom: 50px;
}

footer p {
  font-size: 12px;
}

footer p:first-of-type {
  padding-top: 10px;
}

#partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#partner-logos img {
  width: auto;
  object-fit: cover;
  height: 45px;
}

#main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 25px;
}

#main-footer img {
  width: 150px;
}

#trademark-info p:last-of-type {
  display: none;
  text-align: start;
}

@media (min-width: 1200px) {
  h5 {
    color: #d3d3d3;
  }

  #partner-logos img {
    height: 100px;
  }

  #partners-container {
    padding: 55px 0;
  }

  footer p {
    font-size: 15px;
  }

  #main-footer {
    padding: 50px 0;
  }

  #main-footer img {
    width: 200px;
  }

  #trademark-info {
    flex: 0.5;
    justify-items: flex-start;
  }

  #trademark-info p:last-of-type {
    display: block;
  }
}
